<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold">
            <i class="bi bi-layers" style="font-size: 1.7rem;"></i> ASP.NET CORE OOP PROJESİ
        </a>
        <span class="navbar-text text-light ms-auto">
            Mert Ali Alkan
        </span>
    </div>
</nav>